{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-undefined-to-void",
    "transform-async-to-generator",
    "transform-class-properties"
  ]
}
